{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "rules": {
        "no-console": "off",
        "indent": "off",
        "import/prefer-default-export": 0,
        "no-tabs": "off",
        "camelcase": "off",
        // yep
        "linebreak-style": [0, "unix"],
        "no-restricted-syntax": [
            "error",
            {
                "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
                "message": "Unexpected property on console object was called"
            }
        ]
    }
}
